<div class="alert-block clearfix">
	<div class="usa-alert usa-alert--info usa-alert--covid19">
	<button{{attributes.addClass('alert-box--close','usa-alert--covid19').setAttribute('id','alert--box-close_button')}}>x</button>
		<div class="alert-block usa-alert__body">
			<div class="grid-row grid-gap-6">
				<h4 class="usa-alert__heading grid-col-auto">COVID-19</h4>
				<div class="grid-col-auto">
					<a class="usa-link font-body-xs" href="https://www.cdc.gov/coronavirus/">Get the latest public health information from CDC &raquo;</a>
				</div>
				<div class="grid-col-auto">
					<a class="usa-link font-body-xs" href="https://www.nih.gov/coronavirus">Get the latest research information from NIH
					</a>
				</div>
				<div class="grid-col-auto">
					<a class="usa-link font-body-xs" href="https://salud.nih.gov/covid-19/">Espa&ntilde;ol &raquo;</a>
				</div>
				<div class="grid-col-auto">
					<a class="usa-link font-body-xs" href="https://employees.nih.gov/pages/coronavirus/">NIH staff guidance on coronavirus (NIH Only) &raquo;</a>
				</div>
			</div>
		</div>
	</div>
</div>
