{% for style in image_styles %}
<div class="margin-bottom-2">
  <h2>{{ style.name }}
  <div><img
    src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
    alt="A placeholder image"
    style="width: {{ style.width }}" /></div>
</div>
{% endfor %}
