<div {{attributes.addClass ('usa-logo', 'site-logo') }}>
	<em class="usa-logo__text">
    <a class="logo-img" href="{{ site_front_url }}" accesskey="1" title="National Insitute on Aging (NIA), Home" aria-label="Home">
      <img src="{{ site_logo }}" alt="National Insitute on Aging (NIA), Home"/>
    </a>
	</em>
</div>

<button class="usa-menu-btn usa-button--secondary">Menu</button>
