<div class="usa-identifier">
  <section
    class="usa-identifier__section usa-identifier__section--masthead"
    aria-label="Agency identifier,,">
    <div class="usa-identifier__container">
      <div class="usa-identifier__identity" aria-label="Agency description">
        <p class="usa-identifier__identity-domain">
          <a href="https://www.nia.nih.gov/" class="usa-identifier__required-link usa-link">nia.nih.gov</a>
        </p>
        <p class="usa-identifier__identity-disclaimer">
          <em>An official website of the</em> <a href="https://www.nih.gov/">National Institutes of Health</a>
        </p>
      </div>
    </div>
  </section>
  <nav class="usa-identifier__section usa-identifier__section--required-links" aria-label="Important links,,">
    <div class="usa-identifier__container">
      {{ page.identifier_menu }}
    </div>
  </nav>
</div>
