{% extends '@components/content/node.html.twig' %}

{% block content %}

  <aside class="custom-callout__inline custom-callout__blue width-50ct float-right">
    <h2>Stay Connected
    </h2>
    <p>Get weekly updates on NIA funding policies and research priorities with the
      <a href="/research/blog">Inside NIA Blog</a>.
    </p>
    <p>
      <a href="/about/stay-connected">Sign up</a>
      to receive funding opportunities delivered to your inbox.
    </p>
  </aside>
  <p>NIA supports aging research from basic science through clinical studies. Here you will learn about extramural research opportunities and how to apply for NIA funds. Specific grant mechanisms are available for individuals at different career stages, from trainees to senior investigators. NIA provides support for aging research, Alzheimer&#39;s Disease and Related Dementias, and
    <a href="/research/grants-funding/nia-covid-19-response">COVID-19 research</a>
    in older adults.
  </p>
  <div class="link_wrapper clearfix">
    <a class="intro-link link-text link-arrow-right" href="/research/grants-funding/announcements">Find Alzheimer&#39;s and related dementias funding opportunities</a>
  </div>

  <h2 id="budget" name="budget">Budget and Appropriations
  </h2>
  <h3>Status of the FY 2022 Budget
  </h3>
  <ul>
    <li>On March 28, 2022, the Fiscal Year (FY) 2023 <a href="https://www.whitehouse.gov/omb/budget/">President&rsquo;s Budget</a> was released. This budget was developed relative to the continuing resolutions that extended into March 2022. It was not developed relative to the final FY 2022 appropriations that were passed on March 15, 2022 (see below).</li>
  </ul>
  <p>The President&rsquo;s Budget calls for $49 billion in discretionary funding for NIH, including:
  </p>
  <ul>
    <li>On March 15, 2022, President Biden signed into law <a href="https://www.congress.gov/bill/117th-congress/house-bill/2471">H.R. 2471</a>, <em>the Consolidated Appropriations Act</em>, <em>2022</em>, which provides FY 2022 appropriations to federal agencies. Among other provisions, the bill:
      <ul>
        <li>Provides $4.2 billion for NIA, including an additional $289 million above the FY 2021 enacted level for AD/ADRD research.</li>
        <li>Renames The Center for Alzheimer&rsquo;s and Related Dementias Building (Building T&ndash;44) to honor Sen. Roy Blunt (R-MO), who is retiring at the end of this Congress.</li>
        <li>Provides $1 billion to fund the Advanced Research Projects Authority for Health (ARPA-H) within the HHS Office of the Secretary, though Congress has yet to pass authorizing language for ARPA-H. HHS Secretary Xavier Becerra subsequently provided formal notification to Congress that these funds would be transferred to NIH to establish ARPA-H.</li>
      </ul>
    </li>
    <li>On March 11, 2022, President Biden signed into law <a href="https://www.congress.gov/bill/117th-congress/house-joint-resolution/75">H.J. Res. 75</a>, a continuing resolution which extended FY 2021 funding through March 15, 2022. An earlier set of continuing resolutions, <a href="https://www.congress.gov/bill/117th-congress/house-bill/6119/actions">H.R. 6119</a> and <a href="https://www.congress.gov/bill/117th-congress/house-bill/6617">H.R. 6617</a>, extended FY 2021 funding through February 18, 2022, and March 11, 2022, respectively.</li>
  </ul>

  {{ callout_gray_media_left }}
  {{ card }}
  {{ blockquote }}

  <h2>An NIH-wide initiative (H2 Element)
  </h2>
  <p>Drs. Felipe Sierra and Ronald Kohanski, director and deputy director, respectively, of NIA&#39;s
    <a href="/research/dab">Division of Aging Biology</a>, were a moving force behind the establishment of the
    <a href="https://www.theguardian.com/us">Trans-NIH Geroscience Interest Group (GSIG)(EXTL)</a>
    in 2012. The goal of the group is to stimulate interest and involvement in the basic science of aging across Institutes, Centers, and Offices at NIH. The group, which now includes 21 of NIH&#39;s 27 Institutes and Centers, hosts three seminars on the NIH campus each year and convenes workshops and summits on topics of interest to the geroscience community on a regular basis.
  </p>
  <h3>A meeting of the minds on geroscience (H3 element)
  </h3>
  <p>In 2013, nearly 500 scientists, advocates, and others interested in health and aging gathered on the NIH campus for a first Summit meeting,
    <a href="/news/geroscience-recommendations-summaries-available">Advances in Geroscience: Impact on Healthspan and Chronic Disease</a>. Hosted by the GSIG, the Summit was supported by the Alliance for Aging Research, Gerontological Society of America, and private foundations and companies through gifts to the Foundation for the National Institutes of Health.
  </p>
  <ul class="special_jumpnav">
    <li>
      <a href="#sequencing">Alzheimer’s Disease Sequencing Project</a>
    </li>
    <li>
      <a href="#infrastructure">Infrastructure Support</a>
    </li>
    <li>
      <a href="#datasharing">Essential Documents for Data Sharing</a>
    </li>
  </ul>
  <h4>Training and Career Development (H4 element)
  </h4>
  <p>In 2013, nearly 500 scientists, advocates, and others interested in health and aging gathered on the NIH campus for a first Summit meeting,
    <a href="/news/geroscience-recommendations-summaries-available">Advances in Geroscience: Impact on Healthspan and Chronic Disease</a>. Hosted by the GSIG, the Summit was supported by the Alliance for Aging Research, Gerontological Society of America, and private foundations and companies through gifts to the Foundation for the National Institutes of Health.
  </p>
  <h5>NIA Specific Funding Opportunities (H5 element)
  </h5>
  <p>In 2013, nearly 500 scientists, advocates, and others interested in health and aging gathered on the NIH campus for a first Summit meeting,
    <a href="/news/geroscience-recommendations-summaries-available">Advances in Geroscience: Impact on Healthspan and Chronic Disease</a>. Hosted by the GSIG, the Summit was supported by the Alliance for Aging Research, Gerontological Society of America, and private foundations and companies through gifts to the Foundation for the National Institutes of Health.
  </p>
  <h6>The Scientific Review Process (H6 element)
  </h6>
  <p>In 2013, nearly 500 scientists, advocates, and others interested in health and aging gathered on the NIH campus for a first Summit meeting,
    <a href="/news/geroscience-recommendations-summaries-available">Advances in Geroscience: Impact on Healthspan and Chronic Disease</a>. Hosted by the GSIG, the Summit was supported by the Alliance for Aging Research, Gerontological Society of America, and private foundations and companies through gifts to the Foundation for the National Institutes of Health.
  </p>

  <table>
    <caption id="mechanism">Budget Mechanism Table* (Dollars in Thousands)
    </caption>
    <thead>
      <tr class="tableHeading">
        <th scope="row">MECHANISM
        </th>
        <th scope="col">FY 2021 Final Number
        </th>
        <th scope="col">FY 2021 Final Amount
        </th>
        <th scope="col">FY 2022 CR Number
        </th>
        <th scope="col">FY 2022 CR Amount
        </th>
        <th scope="col">FY 2023 President's Budget Number
        </th>
        <th scope="col">FY 2023 President's Budget Amount
        </th>
        <th scope="col">FY 2023 Number +/- FY 2021 Enacted Number
        </th>
        <th scope="col">FY 2023 Amount +/- FY 2021 Enacted Amount
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Research Projects: Noncompeting
        </th>
        <td>1,955
        </td>
        <td>$1,669,097
        </td>
        <td>2,171
        </td>
        <td>$1,853,488
        </td>
        <td>2,205
        </td>
        <td>$2,152,200
        </td>
        <td>34
        </td>
        <td>$298,712
        </td>
      </tr>
      <tr>
        <th scope="row">Research Projects: Administrative Supplements
        </th>
        <td>
          <em>(493)</em>
        </td>
        <td>$147,796
        </td>
        <td>
          <em>(253)</em>
        </td>
        <td>$75,732
        </td>
        <td>
          <em>(250)</em>
        </td>
        <td>$75,000
        </td>
        <td>
          <em>(-3)</em>
        </td>
        <td>-$732
        </td>
      </tr>
      <tr>
        <th scope="row">Research Projects, Competing: Renewal
        </th>
        <td>54
        </td>
        <td>$92,091
        </td>
        <td>46
        </td>
        <td>$78,891
        </td>
        <td>47
        </td>
        <td>$57,573
        </td>
        <td>1
        </td>
        <td>-$21,318
        </td>
      </tr>
      <tr>
        <th scope="row">Research Projects, Competing: New
        </th>
        <td>1,013
        </td>
        <td>$881,338
        </td>
        <td>868
        </td>
        <td>$755,013
        </td>
        <td>888
        </td>
        <td>$550,995
        </td>
        <td>20
        </td>
        <td>-$204,018
        </td>
      </tr>
      <tr>
        <th scope="row">Ruth L Kirschstein Training Awards:
        </th>
        <td>FTTPs
        </td>
        <td>n/a
        </td>
        <td>FTTPs
        </td>
        <td>n/a
        </td>
        <td>FTTPs
        </td>
        <td>n/a
        </td>
        <td>FTTPs
        </td>
        <td>n/a
        </td>
      </tr>
      <tr>
        <th scope="row">Individual Awards
        </th>
        <td>235
        </td>
        <td>$11,521
        </td>
        <td>243
        </td>
        <td>$11,915
        </td>
        <td>243
        </td>
        <td>$12,141
        </td>
        <td>0
        </td>
        <td>$226
        </td>
      </tr>
      <tr>
        <th scope="row">
          <em>(SBIR/STTR) (non-add)</em>
        </th>
        <td>
          <em>(0)</em>
        </td>
        <td>
          <em>($1,154)</em>
        </td>
        <td>
          <em>(0)</em>
        </td>
        <td>
          <em>($2,188)</em>
        </td>
        <td>
          <em>(0)</em>
        </td>
        <td>
          <em>($2,188)</em>
        </td>
        <td>
          <em>(0)</em>
        </td>
        <td>
          <em>($0)</em>
        </td>
      </tr>
      <tr>
        <th scope="row">Intramural Research
        </th>
        <td>251
        </td>
        <td>$205,971
        </td>
        <td>260
        </td>
        <td>$213,976
        </td>
        <td>289
        </td>
        <td>$232,089
        </td>
        <td>29
        </td>
        <td>$18,113
        </td>
      </tr>
      <tr>
        <th scope="row">
          <em>SBIR Admin. (non-add)</em>
        </th>
        <td>
          <em>(0)</em>
        </td>
        <td>
          <em>($1,505)</em>
        </td>
        <td>
          <em>(0)</em>
        </td>
        <td>
          <em>($2,164)</em>
        </td>
        <td>
          <em>(0)</em>
        </td>
        <td>
          <em>($2,164)</em>
        </td>
        <td>
          <em>(0)</em>
        </td>
        <td>
          <em>($0)</em>
        </td>
      </tr>
      <tr>
        <th scope="row">Buildings and Facilities
        </th>
        <td>&nbsp;
        </td>
        <td>$0
        </td>
        <td>&nbsp;
        </td>
        <td>$0
        </td>
        <td>&nbsp;
        </td>
        <td>$0
        </td>
        <td>&nbsp;
        </td>
        <td>$0
        </td>
      </tr>
      <tr>
        <th scope="row">Total, NIA
        </th>
        <td>
          <strong>483</strong>
        </td>
        <td>
          <strong>$3,888,220</strong>
        </td>
        <td>
          <strong>520</strong>
        </td>
        <td>
          <strong>$3,899,227</strong>
        </td>
        <td>
          <strong>600</strong>
        </td>
        <td>
          <strong>$4,011,413</strong>
        </td>
        <td>
          <strong>80</strong>
        </td>
        <td>
          <strong>$112,186</strong>
        </td>
      </tr>
    </tbody>
  </table>

{% endblock %}
