{#
/**
 * @file
 * Override of system/menu.html.twig for the footer menu.
 */
#}
{% import _self as menus %}
{#
We call a macro which calls itself to render the full tree.
@see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes) }}

{% macro menu_links(items, attributes) %}
  {% import _self as menus %}
  <ul class="usa-identifier__required-links-list">
  {% if items %}
    {% for item in items %}
      {% if item.url.getOption('attributes') %}
        {% set link_attributes = create_attribute(item.url.getOption('attributes')) %}
      {% else %}
        {% set link_attributes = create_attribute() %}
      {% endif %}
      <li class="usa-identifier__required-links-item">
        <a class="usa-identifier__required-link usa-link" href="{{ item.url }}">
          {{ item.title }}
        </a>
      </li>
    {% endfor %}
  {% endif %}
  </ul>
{% endmacro %}
