{# this is all for show on fractal #}
<ul class="usa-card-group custom-callout">
  <div class="padding-4">
    <h2>Grants and Funding</h2>
    <aside class="custom-callout__inline {{ classes }} width-50ct float-right">
      <h2>{{ title }}
      </h2>
      {% if body %}
        <p>{{ body }}</p>
      {% endif %}
    </aside>
    <p>On these pages you will find information from NIA's
      <strong>
        <a href="/research/grants-funding/about-division-extramural-activities-staff-listing">Division of Extramural Activities</a>
      </strong>, including the many
      <strong>
        <a href="/research/grants-funding/research-grant-mechanisms">Research Grant Mechanisms</a>
      </strong>
      and programs for
      <strong>
        <a href="/nia-small-business-programs-sbir-sttr">Small Businesses</a>
      </strong>. In addition, you can find out about the
      <strong>
        <a href="/research/grants-funding/grants-process">process of getting an NIH grant</a>
      </strong>
      and learn about
      <strong>
        <a href="/research/scientific-review">Scientific Review</a>
      </strong>
      at NIA, including whether your application will be assigned to NIA for review or to the
      <strong>
        <a href="http://www.csr.nih.gov/">Center for Scientific Review</a>
      </strong>. These pages will also help you learn about
      <strong>
        <a href="/research/grants-funding/nia-specific-funding-policies">NIA policies</a>
      </strong>&nbsp;that apply to our grant activities and find links to sites that address applicable<strong>
        <a href="/research/grants-funding/nih-funding-policies">NIH policies</a>
      </strong>. Read
      <a href="https://www.nia.nih.gov/research/grants-funding/how-find-nia-funding-opportunities">
        <i>How to Find NIA Funding Opportunities</i>
      </a>. Learn about NIA's role in leading the research effort for the National Plan. Supporting and strengthening NIA's mission in understanding and addressing health disparities. Learn about NIA-supported advances in the quest to find a treatment or cure for Alzheimer's disease.
    </p>
  </div>
</ul>
