<li
  class="usa-collection__item">
  <div class="news-listing--meta-info">{{ date }} | {{ topic }}</div>
  <div class="usa-collection__body">
    <h3 class="usa-collection__heading">
      <a class="usa-link" href="{{ url }}">{{ title }}</a>
    </h3>
  </div>
</li>
